*.csv
*.tsv
*.xls
*.xlsx

.DS_Store

.vscode/
.idea/
*.code-workspace

__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/


.pio/
.pioenvs/
.build/

*.log

*.tmp
*.bak
*.swp
*.swo

coverage/
htmlcov/

*.sqlite3
*.db

.AppleDouble
.LSOverride

.cache/
dist/
build/
out/

test-output/

Thumbs.db
ehthumbs.db

*/.env